@import (reference) '../../styles/index.less';

.bannerImgContainer {
  padding: 1rem 4rem;
  margin-bottom: 2rem;
  .bannerImg {
    border-radius: 10px;
  }
  @media only screen and (max-width: 767px) {
    padding: 1rem 0;
  }
}
.blogArticle {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
  }
  h1 {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 14px;
  }
  h3,
  h4,
  h5 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    color: rgb(248, 95, 72);
    line-height: 1.35;
    text-align: start;
    white-space: normal;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  ul {
    padding-left: 30px;
    list-style-position: initial;
    list-style-image: initial;
    font-size: 15px;
    text-align: start;
    white-space: normal;
    max-width: 100% !important;
  }
  li {
    max-width: 100% !important;
    margin-top: 6px !important;
    word-wrap: break-word !important;
    line-height: 30px;
  }
  // span {
  //   line-height: normal;
  // }
  a {
    color: #1890ff;
    font-weight: 600;
  }
  del {
    color: #888;
  }

  // 引用
  blockquote {
    margin-bottom: 1.2em;
    padding: 15px 15px 15px 1rem;
    color: rgb(74, 74, 74);
    font-size: 14px;
    line-height: 22px;
    background: rgb(242, 247, 251);
    text-align: start;
    white-space: normal;
    border-left: 6px solid rgb(96, 125, 139);
    p {
      margin: auto;
      line-height: 30px;
      br {
        line-height: 0;
      }
    }
  }
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.announcement {
  background: #eee;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  justify-content: start;
  align-items: center;
  .label {
    font-style: italic;
    font-weight: bold;
    color: #333;
  }
}
.hamburgerText {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1101;

  border-radius: 50% 50% 0 50%;
  box-shadow: 0 24px 40px rgb(48 76 253 / 10%), 0 8px 16px rgb(48 76 253 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  width: 3.75rem;

  background: #e0b743;
  color: #fff;
  font-size: 0.75rem;
  cursor: pointer;
}

.supportImg {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1201;
}
