name: release
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy-to-github:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18.17.0
      - run: npm install
      - run: npm run install-action
      - run: npm run build
        env:
          GATSBY_BITGET_API_KEY: ${{ secrets.GATSBY_BITGET_API_KEY }}
          GATSBY_BITGET_API_SECRET: ${{ secrets.GATSBY_BITGET_API_SECRET }}
          GATSBY_BITGET_PASSPHRASE: ${{ secrets.GATSBY_BITGET_PASSPHRASE }}
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_ACTION_DEPLOY_KEY}}
          publish_dir: ./public
  # 不同步到gitee了，没啥用
  # sync-to-gitee:
  #   needs: build-and-deploy-to-github
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Sync to Gitee
  #       uses: wearerequired/git-mirror-action@master
  #       env:
  #         SSH_PRIVATE_KEY: ${{ secrets.GITEE_RSA_PRIVATE_KEY }}
  #       with:
  #         # 来源仓库
  #         source-repo: 'git@github.com:talentAN/talentAN.github.io.git'
  #         # 目标仓库
  #         destination-repo: 'git@gitee.com:talentan/talentan.git'
